/* URI FOR GOOGLE FONTS */
 @import url('https://fonts.googleapis.com/css?family=Squada+One&display=swap');
/* FOR BODY STYLE */
 html,body{
     font-family: 'Squada One', cursive;
     height: 100%!important;
     color: #fff 
}
/* FOR Sign Up FORM */
 .form{
     width:750px;
     float: right;
     margin-top: 2%;
     color: white;
     margin-left: auto;
     margin-right: auto 
}
 .input-field label{
     color: #fff!important;
}
 .signup{
     margin-top: 10% 
}
/*FOR WELCOME TEXT HOME PAGE*/
 h1,h3{
     width: 70%;
     margin-left: auto;
     margin-right: auto 
}
 .text-left{
     margin-top: 10%;
     width: 90%;
     color: #fff 
}
/*FOR BACKGROUND IMAGE HOME PAGE*/
 body{
     background: url(https://www.up-00.com/i/00144/gu1raesz6brf.jpg) no-repeat center center fixed;
     background-repeat: no-repeat!important;
     height: 100%!important;
     width: 100%!important;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
}
/* FOR FOOTER HOME PAGE */
 footer{
     font-size: 25px;
     width: 100%;
     background-color: black;
     background-clip: content-box;
     color: #fff;
     text-align: center;
     display: table;
     height: auto;
}

 h2{
     color: #f44336 
}
 .input-field .prefix{
     color: #fff 
}
 .switch label input[type=checkbox]:checked+.lever:after{
     background-color: #c78484!important;
}
 .switch label input[type=checkbox]:checked+.lever{
     background-color: red;
}
 .materialboxed{
     margin-left: auto;
     margin-right: auto 
}

/* for search recipe*/
 .search{
     margin-top: 5%!important;
}
 .switch label{
     color: #fff;
     font-size: 15px 
}
 .collapsible-header{
     background-color: #26a69a 
}
 .collapsible-body{
     color: darkgery;
}

/* for button of recipe*/
 .btn_small {
     height: 24px;
     width: 60px;
     line-height: 24px;
     margin: 5px 5px;
     padding: 0 0.5em;
}

