/* URI FOR GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css?family=Squada+One&display=swap');

/* FOR BODY STYLE */
body{
    font-family: 'Squada One', cursive;
    background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	width: 100%;
}

/* FOR Sign Up FORM */
.form{
    width:750px;
    float: right;
    margin-top: 2%;
    color: white;
    margin-left: auto;
    margin-right: auto
}
.input-field label{
    color: #fff!important;
}

.signup{
    margin-top: 10%
}

/*FOR WELCOME TEXT HOME PAGE*/
h1,h3{
    width: 70%;
    margin-left: auto;
    margin-right: auto
}

.text-left{
    margin-top: 10%;
    width: 90%;
    color: #fff
}

/*FOR BACKGROUND IMAGE HOME PAGE*/
.home-container{
  background-image: url('https://www.up-00.com/i/00144/gu1raesz6brf.jpg');
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center top;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* FOR FOOTER HOME PAGE */
.page-footer{
    font-size: 25px;
    width: 100%;
    background-color: black;
    background-clip: content-box;
    color: #fff;
    text-align: center;
    display: table;
    max-height: 100%;
    margin-top: auto;
}

