/* URI FOR GOOGLE FONTS */
 @import url('https://fonts.googleapis.com/css?family=Squada+One&display=swap');
/* FOR BODY STYLE */
 html,body{
     font-family: 'Squada One', cursive;
     color: #fff;
     background-color: #222222;
}
/* FOR Sign Up FORM */
 .form{
     float: right;
     margin-top: 2%;
     color: white;
     margin-left: auto;
     margin-right: 150px 
}
 .input-field label{
     color: #fff!important;
}
 .signup{
     margin-top: 10% 
}
/*FOR WELCOME TEXT HOME PAGE*/
 h1,h3{
     width: 90%;
     margin-left: auto;
     margin-right: auto 
}
 .text-left{
     margin-top: 10%;
     width: 90%;
     color: #fff 
}
 .home-container{
     margin-left: auto;
     margin-right: auto;
     zoom: 1;
}
 footer{
     font-size: 25px;
     width: 100%;
     background-color: black;
     background-clip: content-box;
     color: #fff;
     text-align: center;
     display: table;
     height: auto;
}
 h2{
     color: #f44336 
}
 .input-field .prefix{
     color: #fff 
}
 .switch label input[type=checkbox]:checked+.lever:after{
     background-color: #c78484!important;
}
 .switch label input[type=checkbox]:checked+.lever{
     background-color: red;
}
/* for search recipe*/
 .search{
     margin-top: 5%!important;
}

.waves-effect input[type="submit"]{
    outline: none!important;
}
 .switch label{
     color: #fff;
     font-size: 15px 
}
 .collapsible-body{
     color: darkgery;
}
/* for button of recipe*/
 .btn_small {
     height: 24px;
     width: 60px;
     line-height: 24px;
     margin: 5px 5px;
     padding: 0 0.5em;
}
/*Font or Text color */
 h1,h4,h5,a{
     color:silver 
}
/*End Font or Text color*/
/* responsive screen home page*/
 @media only screen and (max-width: 1024px){
     .login{
         display: none 
    }
     .log{
         display: block!important;
         width:50%;
         margin-top: 10%;
    }
     .lo{
         margin: 0 40% auto!important 
    }
}
/* Recipes List */
 .recipes-list {
     list-style: none;
     padding: 0;
     margin: 0;
     margin-top: 3%;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     text-align: center 
}
 .recipes-list li {
     width: 350px;
     padding: 10px;
     margin: 10px;
     border: 1px solid #ccc;
}
 .recipes-list h5 {
     margin: 0;
}
 .recipes-list .image {
     margin-bottom: 10px;
}
 .recipes-list img {
     display: block;
     width: 300px;
     height:200px;
     background-size: cover;
     margin-left: auto;
     margin-right: auto;
}
/* End Recipes List */

/*Recipe detail*/
 .image-detail img{
     border-radius: 20px!important;
     margin-top: auto;
     width: 200px;
     height: 200px;
     margin-bottom: 30px;
     float: right;
     margin-right: 25px 
}
 .materialboxed.active{
     border-radius: 20px!important;
     margin-top: auto;
     margin-left: auto;
}

 .recipe-name, 
 .recipe-category, 
 .recipe-recommended, 
 .recipe-cooking, 
 .recipe-preparation, 
 .recipe-ingredients, 
 .recipe-description {
     display: flex;
     margin: .50em;
}
 .recipe-detail{
     margin-top: 5% 
}
.btn-floating{
    margin-bottom: 10px!important
}
 @media only screen and (max-width: 601px){
     .image-detail img {
         width: 100px;
         height: 100px;
    }

    .recipe-name,
    .recipe-category,
    .recipe-recommended,
    .recipe-cooking, 
    .recipe-preparation, 
    .recipe-ingredients, 
    .recipe-description{
         width: 150px;
    }
     nav .brand-logo{
         font-size: 20px!important;
    }
}
/*End Recipe detail*/

/*Navbar*/
.brand-logo{
    font-size:30px;
    margin-left:10px
}
.side-nav {
    width: auto!important;
    text-align: center;
    background-color: transparent!important;
    margin-top: 15%
}
/*End Navbar*/