{% extends 'base.html'%} {% block content %}
<div class="recipes">
    <nav>
        <div class="nav-wrapper black">
            <a class="brand-logo" style="font-size:30px; margin-left:10px">Kitchen Of Iraq</a>
            <ul id="slide-out" class="side-nav">
                <li><a class="btn red" href="{{ url_for('add_recipes') }}">Add Recipe</a></li>
                <li><a class="btn" href="{{ url_for('get_recipes') }}">Recipes</a></li>
                <li><a class="btn" style="background-color:#909124" href="{{ url_for('get_categories') }}">Categories</a></li>
                <li><a class="btn blue" href="{{ url_for('home') }}">Log out</a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <a class="waves-effect waves-light btn red left" href="{{ url_for('add_recipes') }}" style="margin-top: 2%"><i class="material-icons left">playlist_add</i>Add Recipe</a>
                <a class="waves-effect waves-light btn left" href="{{ url_for('get_recipes') }}" style="margin-top: 2%"><i class="material-icons left">restaurant_menu</i>Recipes</a>
                <a class="waves-effect waves-light btn left" href="{{ url_for('get_categories') }}" style="margin-top:2%;background-color:#909124"><i class="material-icons left">poll</i>Categories</a>
                <a class="waves-effect waves-light btn blue left" href="{{ url_for('home') }}" style="margin-top: 2%"><i class="material-icons left">exit_to_app</i>Log out</a>
            </ul>
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    <div class="container">
        <h1 style="color:#909124">Categories</h1>
        <ul class="collapsible" data-collapsible="accordion">
            {% for category in categories %}
            <li>
                <div class="collapsible-header" style="background-color:#909124">
                    <a href="{{url_for('delete_category', category_id=category._id)}}" class="waves-effect waves-light btn btn_small red">Delete</a>
                    <a href="{{url_for('edit_category', category_id=category._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a>

                    <strong>{{category.category_name}}</strong>

                </div>
            </li>
            {% endfor %}
        </ul>
        <div class="row">
            <a href="{{url_for('add_category')}}" class="waves-effect waves-light btn right red">
                <i class="material-icons right">playlist_add</i>Add Category
            </a>
        </div>
    </div>
{% endblock %}