{% extends 'base.html'%} {% block content %}
<div class="home-container">
    <nav>
        <div class="nav-wrapper black">
            <a class="left brand-logo" href="{{ url_for('home') }}">Kitchen Of Iraq</a>
            <div class="row login">
                <form action="/login" "/get_recipes" method="post">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="icon_prefix" type="text" class="validate" name="user_name" required>
                        <label for="icon_prefix">User name</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">lock</i>
                        <input id="icon_password" type="password" class="validate" minlength="8" name="password" required>
                        <label for="icon_password">Password</label>
                    </div>
                    <div class="col logbut">
                        <div class="login_form_login_button uiButton uiButtonConfirm">
                            <button class="waves-effect waves-light btn" type="submit">Log In</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav>
    <div class="text-left">
        <h1> Welcome! </h1>
        <h3> In Kitchen Of Iraq </h3>
        <h3> Thanks for visiting and watching happy</h3>
    </div>
    <div class="row logh">
        <form action="/login" "/get_recipes" method="post">
            <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input id="icon_prefix" type="text" class="validate" name="user_name" required>
                <label for="icon_prefix">User name</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">lock</i>
                <input id="icon_password" type="password" class="validate" minlength="8" name="password" required>
                <label for="icon_password">Password</label>
            </div>
            <div class="col s6 lo">
                <div class="login_form_login_button uiButton uiButtonConfirm">
                    <button class="waves-effect waves-light btn center" type="submit">Log In</button>
                </div>
            </div>
        </form>
    </div>
</div>
<form action="/register" method="post" class="col s12 form">
    <h1>Create a new user</h1>
    <h3>It's quick and easy</h3>
    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input id="user_name" name="user_name" type="text" class="validate" required>
            <label for="icon_prefix">User name</label>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">lock</i>
                <input id="password" type="password" name="password" class="validate" minlength="8" required>
                <label for="password">Password (8 minimum)</label>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">refresh</i>
                    <input type="password" id="confirm_password" class="validate" required>
                    <label for="confirm_password">Confirm Password</label>
                </div>
                <div class="col signup">
                    <div class="login_form_login_button uiButton uiButtonConfirm">
                        <button type="submit" class="waves-effect waves-light btn">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<footer>
    <div class="text-center">
        <p> kitchen of Iraq: created by Albeer Alkhawri</p>
    </div>
</footer>
</div>
<script src="{{url_for('static', filename='js/min.js')}}"></script>
{% endblock %}