{% extends 'base.html'%} {% block content %}
<div class="recipe">
    <nav>
        <div class="nav-wrapper black">
            <a class="brand-logo" href="{{ url_for('get_recipes') }}">Kitchen Of Iraq</a>
            <ul id="slide-out" class="side-nav">
                <li><a class="btn blue black" href="{{ url_for('add_recipes') }}">Add Recipe</a></li>
                <li><a class="btn blue black" href="{{ url_for('get_recipes') }}">Recipes</a></li>
                <li><a class="btn blue black" href="{{ url_for('get_categories') }}">Categories</a></li>
                <li><a class="btn blue black" href="{{ url_for('home') }}">Log out</a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <a class="waves-effect waves-light left" href="{{ url_for('add_recipes') }}"><i class="material-icons left">playlist_add</i>Add Recipe</a>
                <a class="waves-effect waves-light left" href="{{ url_for('get_recipes') }}"><i class="material-icons left">restaurant_menu</i>Recipes</a>
                <a class="waves-effect waves-light left" href="{{ url_for('get_categories') }}"><i class="material-icons left">poll</i>Categories</a>
                <a class="waves-effect waves-light left" href="{{ url_for('home') }}"><i class="material-icons left">exit_to_app</i>Log out</a>
            </ul>
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    <div class="container center">
        <h1>Recipes</h1>
        <form action="/search" method="POST">
            <div class="waves-effect waves-light">
                <input list="names" type="search" name="search" placeholder="search recipe name" class="search" autocomplete="off" required/>
            </div>
            <datalist id="names">
                {% for recipe in names %}
                <option value="{{recipe.recipe_name}}"></option>
                {% endfor %}
            </datalist>
            <div class="waves-effect waves-light btn blue">
                <input type="submit" value="search"/>
            </div>
        </form>
    </div>

    <ul class="recipes-list">
        {% for recipe in recipes %}
        <li>
            <a href="{{ url_for('recipe_detail', recipe_id=recipe._id)}}">
                <div class="image">
                    <img alt="recipe-image" src="/images/{{recipe['recipe_image']}}">
                </div>
                <h5>{{recipe.recipe_name}}</h5>
                <div>
                    <span>{{recipe.category_name}}</span>
                </div>
                <div class="col s6">
                    <a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn btn_small red">Delete</a>
                    <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a>
                </div>
            </a>
        </li>
        
        {% endfor %}
    </ul>

    {% endblock %}